[*.{cs,vb}]

# IDE0001: Simplify Names
dotnet_diagnostic.IDE0001.severity = none

# IDE0160: Convert to block scoped namespace
dotnet_diagnostic.IDE0160.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none
